on:
  push:
    branches: [main, master]
    paths: ["README.qmd"]
  pull_request:
    paths: ["README.qmd"]
  workflow_dispatch:

name: render-readme

permissions: read-all

jobs:
  render-readme:
    runs-on: ubuntu-latest

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: quarto-dev/quarto-actions/setup@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: local::.
          needs: readme

      - name: Render README
        run: quarto render README.qmd

      - name: Commit and push
        if: github.event_name == 'push'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add README.md man/figures/README-*
          git diff --staged --quiet || (git commit -m "Re-render README.qmd" && git push)
